
h1 {
    font-family: 'Gagalin', sans-serif;
    font-size: 40px;

}

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.woff2') format('woff2'),
        url('../fonts/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

